.Athentication__ForgotPassword__container {
  display: flex;
  justify-content: center;
}

.Athentication__ForgotPassword__subline {
  line-height: 2rem;
}
.Athentication__ForgotPassword__mobile__number__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Athentication__ForgotPassword__mobile__label {
}

.Athentication__ForgotPassword__mobile__field {
  width: 270px;
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  justify-content: center;
}
.Athentication__ForgotPassword__welcome__title {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 30px;
}

.Athentication__ForgotPassword__error__msg {
  color: red;
}
